<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">    
    <title>Pastelaria</title>
</head>
<body>
    <div class="container">
    <h2>Pedidos Pastelaria</h2>
    <p>
        <button><a class="waves-effect waves-light btn-small" href="/show">Pedidos</a></button>
        <button><a class="waves-effect waves-light btn-small" href="/show_all_pastel">Todos pastéis</a></button>
        <button><a class="waves-effect waves-light btn-small" href="/show_client">Todos clientes</a></button>
        <button><a class="waves-effect waves-light btn-small" href="/show_pastel">Cadastrar Pastel</a></button>
        <button><a class="waves-effect waves-light btn-small" href="/">Registrar Cliente</a></button>
    </p>
    <table>
        <tr>
            <td>Cliente</td>
        </tr><tr>
            <td>
                <select name="cliente" class="browser-default">
                    <option value="" selected>Escolha o Cliente</option>
                    <% data.forEach(function(details) { %>
                    <option value="<%= details._id %>"><%= details.name %></option>
                    <% }) %>
                </select>
            </td>
        </tr><tr>
            <td>Pedido</td>
        </tr<tr> 
            <td>
                <% data.forEach(function(details) { %>
                    <tr>
                        <td><%= details.name %></td>
                        <td><%= details.price %></td>
                        <td><img src="/public/uploads/<%= details.image %>"></td>
                        <td>
                            <button><a onclick="return confirm('Tem certeza que deseja excluir?')"; href="/delete_pastel/<%= details._id %>">Deletar</a></button>
                        </td>
                    </tr>
                <% }) %>
            </td>
        </tr>
    </table>
    </div>

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>         
</body>
</html>